
.navBar {
  padding-top: 1em;
  position: fixed;
  width: 100%;
  background-color: #fff;
  text-align: center;
  margin-bottom: 10rem;

}
.textInput {
  width: 60%;
}
.icon {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.clearBtn {
  display: inline-block;
  border-radius: 3px;
}

.checkboxes {
  margin-left: 20%;
}

input, label {
  margin-right: 10px;
}

div.maincontent {
  position:fixed;
  margin: 5rem auto;
  border: 1px solid black;
  width: 95%;
  overflow: auto;
  height: 475px;
  padding: 15px;
}

.message {
  margin: 5px;
}

div.darkmaincontent {
  color: white;
  background-color: black;
  margin:auto;
  margin-top: 5rem;
  border: 1px solid white;
  width: 95%;
  overflow: auto;
  height: 500px;
  padding: 15px;
}

.darkmaincontent button {
  color: black;
}

div.getbig {
  font-size: 2em;
}

footer {
  padding-top: 1rem;
  background-color: #efefef;
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  margin-top:1em;
}



