
.navBar {
  position: fixed;
  width: 100%;
  background-color: #fff;
}
.textInput {
  width: 60%;
}
.icon {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.clearBtn {
  display: inline-block;
  border-radius: 3px;
}

.checkboxes {
  margin-left: 20%;
}

input, label {
  margin-right: 10px;
}

div.maincontent {
  margin: 5rem auto;
  border: 1px solid black;
  width: 95%;
  overflow: auto;
  height: 500px;
  padding: 15px;
  position: fixed;
}

.message {
  margin: 5px;
}

div.darkmaincontent {
  color: white;
  background-color: black;
  margin:auto;
  margin-top: 5rem;
  border: 1px solid white;
  width: 95%;
  overflow: auto;
  height: 500px;
  padding: 15px;
}

.darkmaincontent button {
  color: black;
}

.disabled {
  background-color: red;
  color: white;
}